.re {
    color: green;
}
.sobiroka{
    border-radius: 50px;
}
.wert {
    color: black;
}
.wsx {
    background-color: yellow;
}
.qaz {
    color: green;
}

.yt {
    width: 50px;
}
.qw {
    width: 30px;
}
.et {
    background-color: blue;
    color: white;
    width: 170px;
}
.ty {
    width: 900px;
    height: 30px;
}
.as {
    background-color: yellow;
    color: green;
    
}
.sd {
    border: 3px solid rgb(254, 255, 254);
    background-color: aqua;
    color:  white;
}
.ds {
    background-color: blue;
    width: 600px;
    border: 3px solid aqua;
}
.pl {
    border: 2px solid rgb(30, 204, 183);
    background-color: red;
}
.zx {
    background-color: black;
    border: 3px solid aqua;
    width: 600px;
    color: white;
}
.df {
    background-color: red;
    color: rgb(255, 255, 255);
    border: 3px solid aqua;
}
.hh {
    background-color: red;
    border: 3px solid aqua;
}
.m {
    background-color: black;
    color: white;
    border: 3px solid aqua;
    width: 1000px;
}





